.heading{
    font-size:30px;
    width:100%;
    box-shadow:5px 10px 15px darkgoldenrod;
    animation:Background-color 5s infinite;
}@keyframes Background-color{
    from{background:linear-gradient(#B8CC66 0%,#992B87 100%);}
    to{background:linear-gradient(#DEAD3A 0%,#122678 100%);}
}
.heading_div{
    float:none;
    background:linear-gradient(#8CB5DE 0%,#7D7B01 100%);
    padding:10px;
    border-radius:20px;
    color:lime;
    box-shadow:5px 10px 15px gold;
}
.heading_div2{
    font-size:25px;
    background:linear-gradient(#650270 0%,#E2E67C 100%);
    color:darkblue;
    animation:Text-Color 5s infinite;
}@keyframes Text-Color{
    from{color:darkblue;}
    to{color:darkviolet;}
}
.member,.accuracy{
    font-size:200%;
}
canvas{
    border:10px ridge darkcyan;
    margin-top:150px;
    animation:border-color 5s infinite;
}@keyframes border-color{
    from{border-color: crimson;}
    to{border-color: darkgoldenrod;}
}
.copy_footer_div{
    font-size:20px;
    text-align: center;
    background-color:rgb(135, 92, 205);
    margin-top:700px;
}
body{
    animation:Background-color 5s infinite;
}@keyframes Background-color{
    from{background-image:url(Background.jpg);}
    to{background-image:url(Background2.jpg);}
    from{background-image:url(Background2.jpg);}
    to{background-image:url(Background3.jpg);}
    from{background-image:url(Background3.jpg);}
    to{background-image:url(Background4.jpg);}
}